.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.945);
  border: 1px solid black;
  display: inline-flex;
  height: 90px;
  justify-content: space-around;
  left: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

.nickName {
  font-size: 26px;
  font-style: normal;
  line-height: 30px;
}

.imgStyle {
  border: 1px solid black;
  height: 50px;
  margin: 0 5px 0 0;
}

.containerScore {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.scoreStyle {
  color: teal;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  margin: 10px;
}

.player-avatar {
  align-items: center;
  display: inline-flex;
}
