.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  margin: 50px 0 0;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-image: url('./Image/conheça-os-5-jogos-mais-vendidos-do-super-nintendo.jpg');
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10% , 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20% , 80% {
    transform: translate3d(2px, 0, 0);
  }

  30% , 50% , 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40% , 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Inicio */
.campoInicial {
  background-color: #000c;
  border-radius: 20px;
  color: white;
  margin: 10px;
  max-width: 600px;
  min-height: 300px;
  min-width: 600px;
  padding: 10px 30px;
}

.inputInicial {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.input {
  height: 25px;
  margin: 10px;
  width: 80%;
}

.buttonNull {
  display: none;
}

.button {
  border-radius: 15px;
  font-size: 20px;
  height: 40px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
}

.buttonVerde {
  background-color: teal;
  color: white;
}

/* jogo */
.jogo {
  background-color: #000c;
  border-radius: 20px;
  color: white;
  margin: 10px;
  max-width: 600px;
  min-height: 300px;
  min-width: 600px;
  padding: 10px 30px 20px;
}

.contador {
  margin: 15px;
}

.campoPergunta {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin: 5px;
  padding: 10px 30px;
  width: 90%;
}

.alternativas {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonCorrectAnswer {
  background-color: rgb(161, 161, 161);
  border-radius: 15px;
  font-size: 20px;
  height: 30px;
  margin: 3px;
  width: 90%;
}

.buttonWrongAnswer {
  background-color: rgb(161, 161, 161);
  border-radius: 15px;
  font-size: 20px;
  height: 30px;
  margin: 3px;
  width: 90%;
}

/* notFound */
.notFound {
  font-size: 80px;
  margin-top: 150px;
  text-align: center;
}

/* feedback */
.container {
  background-color: #000c;
  border-radius: 20px;
  color: white;
  margin: 10px;
  max-width: 600px;
  min-height: 300px;
  min-width: 600px;
  padding: 10px 30px;
}

.feedbackTitle {
  font-size: 60px;
  margin: 20px 0;
}

.feedbackText {
  font-size: 40px;
  margin: 20px 0;
}

/* Ranking */
.btnInicio {
  border-radius: 15px;
  font-size: 20px;
  height: 30px;
  margin: 5px;
  top: 0;
  width: 300px;
}

.ranking {
  align-items: center;
  background-color: #000c;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 600px;
  min-height: 300px;
  min-width: 600px;
  padding: 10px 30px;
}

.rankingItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.rankingName {
  align-self: center;
  margin: 0 30px;
}
